@media (min-width: 768px) {

    .mackbook-container, .iphone-container {
        height: 80vh;        
    }

    .iphone-container {
        position: relative;
        left: -177px;
        top: 77px;
    }
}


@media (max-width: 768px) {
    /*.header-content {
        height: 80vh;
    }*/
}


.nav.navbar-nav.navbar-right li a, .navbar-brand  {
    color: black !important;
}


header *{
    color: #000;
}

.btn-primary {
    color: white;
    background-color: @theme-primary !important;    
    border-color: @theme-primary !important;
}

.header-download {
    font-size: 35px;
}


.download-platform{
    font-size: 150px;
    margin: 30px 0;;
}

.download-heading {
    font-size: 30px;
}

.btn-outline {
    border: 2px solid !important;
}

.section-heading {
    padding: 0 0 50px 0;
} 

.full-width{
    display: block;
    width: 100%;
}

.logo {
    height: 43px;
    display: inline-block !important;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 0 !important; 
    padding-bottom: 0 !important;
    height: 75px;
    line-height: 75px;
}

.navbar {
    min-height:75px !important
}

.navbar-toggle {
    margin-top: 21px;
}

.feature-item i {    
    background: none !important;
    color: black !important;
    -webkit-text-fill-color: #000  !important;
}

#video {
    display: none
}

canvas {
    width:100%;height:100%
}